---
import { Icon } from 'astro-icon/components'

export interface Props {
  icon: string
  text: string
}

const { icon, text } = Astro.props
---

<li class="flex items-center gap-4 text-left">
  <Icon name={icon} class="size-12 p-3 rounded-full bg-tan-100" />{text}
</li>
