---
import BrandedIcon from '../ui/BrandedIcon.astro'

export interface Props {
  icon: string
  text: string
}

const { icon, text } = Astro.props
---

<li class="flex items-center gap-4 text-left">
  <BrandedIcon icon={icon} />
  <span set:html={text} />
</li>
