---
import { Icon } from 'astro-icon/components'

export interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<div class={`${className} flex flex-col gap-8 items-center md:items-start`}>
  <Icon name="zig-zag" class="w-16 lsa no-repeat" />
  <h2 class="lsa lsa-slide-up no-repeat" set:html={title} />
</div>
