---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Power Passenger Passage | 404">
  <header>
    <h1 class="text-xl lsa lsa-slide-up">404</h1>
    <p class="text-s lsa lsa-slide-up delay-200">Page not found</p>
  </header>
</Layout>
