---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import emmieImage from '../assets/emmie-1.png'
import momTwoImage from '../assets/mom-2.png'
import momThreeImage from '../assets/mom-3.png'
import CTA from '../components/text/CTA.astro'
import ListItemOne from '../components/text/ListItemOne.astro'
import ListItemTwo from '../components/text/ListItemTwo.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import BrandedIcon from '../components/ui/BrandedIcon.astro'
import ImageAndText from '../components/ui/ImageAndText.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Power Passenger Passage | About"
  description="I am a life coach and board certified OBGYN a Maternal-Fetal Medicine specialist. As a life coach I work with women on their journey through preconception, pregnancy and postpartum. I help women manage their minds around the uncertainty and unknown of a first pregnancy, and overcome fear and anxiety related to past pregnancy complications and other maternal high-risk conditions."
>
  <PageHeader
    title='About <span class="font-bold text-xl text-red-900">Emmie</span>'
    subtitle="I am a life coach and board certified OBGYN a Maternal-Fetal Medicine specialist. As a life coach I work with women on their journey through preconception, pregnancy and postpartum. I help women manage their minds around the uncertainty and unknown of a first pregnancy, and overcome fear and anxiety related to past pregnancy complications and other maternal high-risk conditions."
    image={emmieImage}
    imageAlt="Emmie Strassberg, Power Passenger Passage"
  >
    <CTA type="link" href="/contact#schedule" text="Book a Free Call" class="m-auto md:m-0" />
  </PageHeader>

  <main>
    <section
      id="what-you-can-expect"
      class="container-md grid md:grid-cols-2 gap-8 text-center md:text-left"
    >
      <SectionHeader
        title='What <span class="font-bold text-lg text-red-900">You Can Expect</span>'
        class="items-center md:items-start"
      />

      <div class="flex flex-col gap-8 lsa lsa-slide-up no-repeat delay-100">
        <p>
          As a Maternal-Fetal Medicine specialist, I diagnose, counsel, and manage high-risk
          pregnancies. <em
            >Please note, as a life coach, I do not offer medical advice or management.</em
          >
        </p>
        <h3>Through life coaching, I help women:</h3>
        <ul class="flex flex-col gap-4">
          <ListItemTwo
            icon="check"
            text="Empower themselves to be the authority in their own life"
          />
          <ListItemTwo
            icon="check"
            text="Deal with the fear and uncertainties that come up around pregnancy"
          />
          <ListItemTwo icon="check" text="Create the intentional experience they desire" />
        </ul>
      </div>
    </section>

    <section id="life-coaching" class="pl-0 pr-0 mb-sectionPadding">
      <div class="relative p-4 bg-red-100 max-h-[550px]">
        <Icon name="circle" class="absolute -top-20 -left-24 w-48" />
        <Icon name="circle" class="absolute -bottom-20 -right-24 w-48" />

        <div class="w-full max-w-lg translate-y-16 mx-auto text-center">
          <h2 class="mb-8 lsa lsa-slide-up no-repeat">Life Coaching</h2>
          <p class="mb-12 lsa lsa-slide-up no-repeat delay-100">
            Coaching sessions to guide you on your journey through preconception, pregnancy and the
            postpartum period. I will help you navigate your way through the fear and uncertainty
            that can present around pregnancy and help you create thoughts and intentions that
            cultivate the pregnancy experience you desire.
          </p>
          <Picture
            class="lsa lsa-slide-up no-repeat delay-200"
            src={momTwoImage}
            alt="A mom holding flowers with her baby"
          />
          <Icon name="blob" class="relative w-4/5 -z-10 mx-auto -translate-y-48" />
        </div>
      </div>
    </section>

    <section id="power-passenger-passage" class="bg-gradient-to-b from-white to-tan-100">
      <div class="container-md">
        <ImageAndText
          image={momThreeImage}
          imageAlt="A mom in a red floral dress with her baby"
          title="Power Passenger Passage"
          text="Power Passenger Passage is a phrase used in obstetrics to review the key components of a successful labor and delivery; and in my coaching to review the key components of a joyous and fulfilling pregnancy."
        >
          <ul class="flex flex-col gap-4 mb-8">
            <ListItemTwo
              icon="arrow-right"
              text="The <span class='text-red-900'>power</span> is the uterus - a strong muscle whose contractions open the birth canal to propel the baby outward."
            />
            <ListItemTwo
              icon="arrow-right"
              text="The <span class='text-red-900'>passenger</span> is the baby whose position and size determine easy passage through the birth canal."
            />
            <ListItemTwo
              icon="arrow-right"
              text="The <span class='text-red-900'>passage</span> is the birth canal that must stretch to safely deliver the baby."
            />
          </ul>

          <p class="text-red-900">
            <em>Alignment of these three components is required for a successful birth.</em>
          </p>
        </ImageAndText>

        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-16 pt-sectionPadding pb-16">
          <article class="flex flex-col items-center gap-8 lsa lsa-slide-up no-repeat">
            <BrandedIcon icon="star" />
            <h3>Power</h3>
            <ul class="flex flex-col gap-4">
              <ListItemOne
                icon="check"
                text="You have power to control how you think, feel and respond to any situation"
              />
              <ListItemOne
                icon="check"
                text="You have power to process emotions and not suppress them or bottle them up."
              />
              <ListItemOne
                icon="check"
                text="You have power to always show up with love for others and especially for yourself."
              />
            </ul>
          </article>

          <article class="flex flex-col items-center gap-8 lsa lsa-slide-up no-repeat delay-100">
            <BrandedIcon icon="star" />
            <h3>Passenger</h3>
            <ul class="flex flex-col gap-4">
              <ListItemOne
                icon="check"
                text="Your passenger baby is a miracle of new life. Pregnancy, preconception and postpartum are the time when you can decide how you show up a mother. You create the relationship you want with your little passenger."
              />
              <ListItemOne
                icon="check"
                text="Typically, pregnancies go well, but sometimes they don't. You do not always have control over your passengers, but you can always control how to think, feel and show up."
              />
            </ul>
          </article>

          <article class="flex flex-col items-center gap-8 lsa lsa-slide-up no-repeat delay-200">
            <BrandedIcon icon="star" />
            <h3>Passage</h3>
            <ul class="flex flex-col gap-4">
              <ListItemOne
                icon="check"
                text="Mamas, WE are the passage of pregnancy. You may feel many things are out of your control - physically and emotionally."
              />
              <ListItemOne
                icon="check"
                text="You can learn to listen to your body and to care for yourselves exquisitely. The body's passage through pregnancy is the perfect time to about self-care and deep self—love."
              />
              <ListItemOne
                icon="check"
                text="Learn to listen to your own wisdom. You are the expert of your own body."
              />
              <ListItemOne
                icon="check"
                text="Generating love for yourself as passage has only positive impact on your little passenger!"
              />
            </ul>
          </article>
        </div>

        <CTA
          type="link"
          href="/contact#schedule"
          text="Book a Free Call"
          class="m-auto lsa lsa-slide-up no-repeat delay-300"
        />
      </div>
    </section>
  </main>
</Layout>
