---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Power Passenger Passage | About">
  <header>
    <h1 class="text-xl lsa lsa-slide-up">About</h1>
    <p class="text-s lsa lsa-slide-up delay-200">Learn more about Power Passenger Passage</p>
  </header>
</Layout>
