---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Power Passenger Passage | Blog">
  <header>
    <h1 class="text-xl lsa lsa-slide-up">Blog</h1>
    <p class="text-s lsa lsa-slide-up delay-200">Read the latest from Power Passenger Passage</p>
  </header>
</Layout>
