---
import type { SanityDocument } from '@sanity/client'
import { sanityClient } from 'sanity:client'
import BlogCard from '../components/ui/BlogCard.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Subscribe from '../components/ui/Subscribe.astro'
import Layout from '../layouts/Layout.astro'

// Fetch all posts
const posts = (await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc) {
    _id,
    title,
    slug,
    publishedAt,
    description,
    mainImage,
    "estimatedReadingTime": round(length(pt::text(body)) / 5 / 180 )
  }`
)) as SanityDocument[]

// Sort posts by date
const newestPost = posts[0]
const recentPosts = posts.slice(1, 4)
const remainingPosts = posts.slice(4)
---

<Layout
  title="Power Passenger Passage | Blog"
  description="Explore insights and resources designed to guide women on their personal healthcare journey. From finding peace in pregnancy to reclaiming control of your well-being, our blog is here to inspire, inform, and empower."
>
  <PageHeader
    title='<span class="font-bold text-xl text-red-900">Empower</span> Your Healthcare Journey'
    subtitle="Explore insights and resources designed to guide women on their personal healthcare journey. From finding peace in pregnancy to reclaiming control of your well-being, our blog is here to inspire, inform, and empower."
  >
    <Subscribe formId="blog-subscribe" class="mx-auto" />
  </PageHeader>

  <main class="bg-gradient-to-b from-white to-tan-100">
    {
      posts.length === 0 ? ( 
        <section class="container-lg text-center">
          <h2 class="mb-8">No posts found</h2>
          <p>Check back soon for new posts.</p>
        </section>
      ) : ( 
        <section id="recent-blog-posts" class="container-lg">
          <h2 class="mb-8 lsa lsa-slide-up no-repeat">Recent Blog Posts</h2>

          <div class="grid lg:grid-cols-2 gap-12">
            <BlogCard post={newestPost} />

            <div class="flex flex-col gap-12">
              {recentPosts.map((post) => <BlogCard post={post} isRow={true} />)}
            </div>
          </div>
        </section>
        <section id="all-blog-posts">
          <div class="container-lg">
            <h2 class="mb-8 lsa lsa-slide-up no-repeat">All Blog Posts</h2>

            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
              {remainingPosts.map((post) => <BlogCard post={post} />)}
            </div>
          </div>
        </section>
      )
    }
  </main>
</Layout>
