---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Power Passenger Passage | Contact">
  <header>
    <h1 class="text-xl lsa lsa-slide-up">Contact</h1>
    <p class="text-s lsa lsa-slide-up delay-200">Get in touch with Power Passenger Passage</p>
  </header>
</Layout>
