---
import momWoodsImage from '../assets/mom-woods.png'
import CTA from '../components/text/CTA.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Power Passenger Passage">
  <PageHeader
    title='<span class="font-bold text-red-900">Life coaching</span> for preconception, pregnancy, and beyond'
    subtitle="Experience your BEST pregnancy with life coaching"
    image={momWoodsImage}
    imageAlt="A mom with her baby in the woods"
  >
    <CTA type="link" href="/contact" text="Book a Free Call" class="m-auto md:m-0" />
  </PageHeader>
</Layout>
