---
import { Icon } from 'astro-icon/components'
import Subscribe from './Subscribe.astro'
---

<!-- Subscribe for a Calming your mind in Pregnancy: 3 simple grounding tools -->
<footer class="relative z-10 border-t-[1px]">
  <!-- Newsletter CTA -->
  <div class="container-lg flex justify-between items-center flex-wrap gap-4 p-12">
    <div class="flex flex-col gap-4">
      <h3 class="text-md">Newsletter</h3>
      <p class="max-w-xl text-sm text-grey-900">
        Grab my free guide on calming your mind in pregnancy! This guide will give you three simple
        exercises to ground you in a moment of panic or overwhelm.
      </p>
    </div>

    <Subscribe formId="footer-subscribe" />
  </div>

  <!-- Main footer items -->
  <div class="bg-red-900 text-white">
    <div class="container-lg p-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12">
      <div>
        <Icon name="logo" class="size-20 md:size-24 mb-4" />
        <p class="text-red-200">Life coaching for preconception, pregnancy, and beyond</p>
      </div>

      <div>
        <h3 class="mb-4 text-white">Sitemap</h3>
        <ul class="flex flex-col gap-2">
          <li class="text-red-200"><a href="/" class="site-link-2">Home</a></li>
          <li class="text-red-200"><a href="/about/" class="site-link-2">About</a></li>
          <li class="text-red-200"><a href="/blog/" class="site-link-2">Blog</a></li>
          <li class="text-red-200"><a href="/contact/" class="site-link-2">Contact</a></li>
        </ul>
      </div>

      <div class="sm:col-span-2 md:col-auto">
        <h3 class="mb-4 text-white">Contact</h3>
        <ul class="flex flex-col gap-2">
          <li class="text-red-200 break-words">
            <a
              href="mailto:emmie@powerpassengerpassage.com"
              target="_blank"
              rel="noopener noreferrer"
              title="Email"
              aria-label="Email"
              class="site-link-2">emmie@powerpassengerpassage.com</a
            >
          </li>
          <li class="text-red-200">
            <ul class="flex gap-4">
              <li>
                <a
                  href="https://www.instagram.com/dremmiestrassberg/"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Instagram"
                  aria-label="Instagram"
                  class="site-link-2"
                >
                  <Icon name="tabler:brand-instagram" class="site-icon text-red-200 site-link-2" />
                </a>
              </li>
              <li>
                <a
                  href="mailto:emmie@powerpassengerpassage.com"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Email"
                  aria-label="Email"
                >
                  <Icon name="tabler:mail" class="site-icon text-red-200 site-link-2" />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Social icons -->
    <div class="container-lg px-12">
      <div
        class="container-lg flex items-center justify-between py-12 border-t-[1px] border-red-200"
      >
        <p>
          <a
            class="site-link-2 inline-flex items-center gap-2 text-red-200"
            href="/docs/terms-of-use.pdf"
            download
            >Terms of Use
            <Icon name="tabler:download" class="site-icon" />
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
