---
import Subscribe from './Subscribe.astro'
---

<footer class="border-t-[1px]">
  <!-- Newsletter CTA -->
  <div class="flex justify-between flex-wrap gap-4 p-12 container">
    <div class="flex flex-col gap-4">
      <h3 class="text-md">Get notified when I publish new articles</h3>
      <p>Stay up to date with the latest news, announcements, and articles.</p>
    </div>

    <Subscribe />
  </div>

  <!-- Main footer items (logo, sitemap, contact info, social icons) -->
</footer>
