---
import { Icon } from 'astro-icon/components'

export interface Props {
  icon: string
  title: string
  text: string
  class?: string
}

const { icon, title, text, class: className } = Astro.props
---

<article class={`${className} w-full max-w-96 flex flex-col gap-4 items-center p-8 text-center`}>
  <Icon name={icon} class="size-12" />
  <h3>{title}</h3>
  <p>{text}</p>
</article>
